[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gym = "*"
numpy = "*"
scipy = "*"
tensorflow-probability = "*"
tensorflow = "*"
seaborn = "*"
matplotlib = "*"
pympler = "*"
tqdm = "*"
tdqm = "*"

[requires]
python_version = "3.8"
